
{% extends "base.html" %}
{% load static %}
{% block content %}

<h2 class="mt-3">{{ object.name }}</h2>

<img class="img-fluid" src="{% get_media_prefix %}{{ object.photo.url }}" alt="{{ object.name }}">

<table class="table">
  
  <tr><th>Marka</th><td><a href="{% url 'brand_detail' object.brand.pk %}">{{ object.brand }}</a></td>
  <tr><th>Gluten Durumu</th><td>{{ object.get_gluten_status_display }}</td>
  {% for obtain_method in product.obtain_methods.all %}
  <tr>
    {% if forloop.first %}
      <th rowspan="{{ product.obtain_methods.all.count }}">Tedarik Yöntemleri</th>
    {% endif %}
    <td>
      <p><strong>{{ obtain_method.supplier }}</strong></p>
      <p><a href="{{ obtain_method.data.product_url }}">Link</a></p>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}