
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card">
  {% if object.photo %}
    <img src="{{ object.photo.url }}" class="card-img-top" alt="{{ object.name }}">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ object.name }}</h5>
    <table class="table">
      <tr><th>Gluten Durumu</th><td>{{ object.get_gluten_status_display }}</td>
      {% for obtain_method in product.obtain_methods.all %}
      <tr>
        {% if forloop.first %}
          <th rowspan="{{ product.obtain_methods.all.count }}">Tedarik Yöntemleri</th>
        {% endif %}
        <td>
          <dt>{{ obtain_method.supplier }}</dt>
          <dd><a href="{{ obtain_method.data.product_url }}">Link</a></dd>
        </td>
      </tr>
      {% endfor %}
    </table>


  </div>
</div>
{% endblock %}