
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'product_Product_list' %}">
    Product Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="gluten_status">gluten_status: </label>
  <input class="form-control col-sm-10" id="gluten_status" type="text" name="gluten_status" value="{{ object.gluten_status }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}