
{% extends "base.html" %}
{% load static %}
{% block content %}
<table class="mt-3 table">
  <tr><th>Ürün adı</th><td>{{ object.name }}</td>
  <tr><th>Marka</th><td><a href="{% url 'brand_detail' object.brand.pk %}">{{ object.brand }}</a></td>
  <tr><th>Gluten Durumu</th><td>{{ object.get_gluten_status_display }}</td>
  <tr>
    <th>Tedarikçiler</th>
    <td>
      <ul style="padding-left: 1em">
        {% for supplier in product.suppliers.all %}
          <li><a href="{% url 'supplier_detail' supplier.id %}">{{ supplier.name }}</a></li>
        {% endfor %}
    </ul>
    </td>
  </tr>
</table>
<button class="btn btn-secondary">Kanıt Gönder</button>
{% endblock %}