
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'product_Supplier_list' %}">
    Supplier Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="phone_number">phone_number: </label>
  <input class="form-control col-sm-10" id="phone_number" type="text" name="phone_number" value="{{ object.phone_number }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="google_place_id">google_place_id: </label>
  <input class="form-control col-sm-10" id="google_place_id" type="text" name="google_place_id" value="{{ object.google_place_id }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="address">address: </label>
  <input class="form-control col-sm-10" id="address" type="text" name="address" value="{{ object.address }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}