
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'product_Supplier_list' %}">
    Supplier Listing
    </a>
</p>
    
<table class="table">
    <tr><td>phone_number</td><td>{{ object.phone_number }}</td></tr>
    <tr><td>google_place_id</td><td>{{ object.google_place_id }}</td></tr>
    <tr><td>address</td><td>{{ object.address }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}