{% load static %}
<html>
  <head>
    <title>Glutensiz Besin Arama Motoru</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container" style="max-width: 600px;">
        <a class="navbar-brand" href="{% url 'index' %}">Glutensiz Besinler</a>
      </div>
    </nav>
    <div id="content" class="container mt-4" style="max-width: 600px;">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
